html { font-size: 12px; }

h1 { font-weight: 400;
    margin-top: 1.568rem;
    margin-bottom: 1.568rem;
    font-size: 2.6rem;
    line-height: 0.784;
}

h2 { font-style: italic;
    font-weight: 400;
    margin-top: 2.5rem;
    margin-bottom: 0;
    font-size: 2.3rem;
    line-height: 0.933333333333333;
}

h3 { font-style: italic;
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: 2.5777777777777778rem;
    margin-bottom: 0;
    line-height: 0.4;
}

section { padding-top: 0rem;
    padding-bottom: 0rem;
}

p.subtitle { 
    margin-bottom: 2.5rem;
}
          
.repl-wrapper { position: relative;
                margin-top: 2.5rem;
                margin-bottom: 2.5rem;
                padding-bottom: 0rem; /* 16:9 */
                padding-top: 0rem;
                height: 30rem; }

.repl-wrapper iframe { position: absolute;
                       top: 0;
                       left: 0;
                       width: 100%;
                       height: 100%; }


/* Header and footer styles, based on https://github.com/clayh53/tufte-jekyll.git */

nav.group, body footer {
    width: 95%;
    padding-top: 2rem;
}

/* reset tufte-css link settings */
nav.group a:link {
    text-decoration: initial;
    background: intial;
    background: initial;
    -webkit-background-size:  initial;
    -moz-background-size:  initial;
    background-size:  initial;
    background-repeat:  initial;
    text-shadow:  initial;
    background-position:  initial;
    background-position-y:  initial;
}

nav.group a:link::selection {
    text-shadow:  initial;
    background: initial;
}

nav.group a:link::-moz-selection {
    text-shadow: initial; 
    background: initial;
}

/* configure navigation elements */
nav.group a {
    font-size: 1.2rem;
    font-family: "Gill Sans", "Gill Sans MT", "Lato", "Calibri", sans-serif;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #a00000;
    padding-top: 1.5rem;
    text-decoration: none;
    display: inline-block; 
    float: left; 
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 2rem;
    vertical-align: baseline;
    position: relative; /* fixes unclickable header links */
    z-index: 10;        /* ^^ */
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-left: 0;
    margin-right: auto;
    border-style: inset;
}

